h1, h4 {
  margin: 0; }

h1 {
  font-size: 5rem; }

h4 {
  font-size: 2rem;
  margin-bottom: .4em; }

div#bg-image {
  background-image: url(../../img/limo_edited.jpg);
  height: 100vh;
  background-size: cover;
  filter: brightness(0.8) blur(0.3em) grayscale(100%); }

header {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }

p {
  max-width: 600px;
  margin: 0 auto 20px; }

a {
  display: inline-block;
  margin: .5em 0;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
  padding: 1em 2em;
  letter-spacing: .1em;
  border-radius: .25em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  background: #D11919; }
